#header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(255, 255, 255, 0.8);
    /* 반투명 배경 */
    padding: 15px 7%;
    transition: 0.5s;
    position: fixed;
    z-index: 10000;
    backdrop-filter: blur(10px);

    .logo {
        width: 200px;
        cursor: pointer;
        margin-right: auto;

        svg {
            width: 40px;
            height: 40px;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                margin-left: 10px;
                font-size: 20px;
            }
        }
    }


    .toggle-icon {
        width: 50px;
        cursor: pointer;
        margin-left: 40px;
    }

    .search-box {
        display: flex;
        align-items: center;
        background: #242424;
        padding: 5px 10px;
        border-radius: 50px;

        input {
            padding: 6px;
            background: transparent;
            border: 0;
            outline: 0;
            color: #fff;
            font-size: 18px;
            max-width: 200px;

            &::placeholder {
                color: #fff;
                font-size: 14px;
            }
        }

        img {
            width: 20px;
            cursor: pointer;
        }
    }
}

.dark #header {
    background-color: #000;
    color: #fff;

    .search-box {
        background: #fff;

        input {
            color: #222;

            &::placeholder {
                color: #222;
            }
        }
    }
}