#header {}

#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
}

.banner {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 80px;

    p {
        em {
            color: #fff;
            font-size: 100px;
        }
    }
}



#footer {
    text-align: center;
    background-color: #9ecac9;
}